# Ignore backup files
*.back
*.bck

# Discard symbolic links to upstream repo folder
uenv/**/repo

# Squashfs files
*.sqsh

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class